@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik" !important;
}

html {
  /* font-size: 10px; */
  /* rem will now be 10 px and not 16px */
  font-size: 62.5%;
}

h1 {
  font-weight: 400;
  color: #555;
  font-size: 3rem;
}

/********************************/
/* GENERAL REUSABLE COMPONENTS */
/******************************/

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-teriary {
  font-size: 3.6rem;
  margin-bottom: 3.2rem;
}

.subheading {
  /* since inline is an inline element */
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 1px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #333;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #333;
  /* border: 5px solid #fff; */

  /* Trick to add border inside  */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  /* this style will be applied always  */
  margin-right: 1.6rem !important;
}

/********************************/
/* RESUABLE GRID  */
/********************************/
.grid {
  display: grid;
  gap: 9.6rem;
  /* grid-template-columns: repeat(4, 1fr); */
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

/********************************/
/* HEADER SECTION */
/********************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  /* we want it to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/********************************/
/* NAVIGATION SECTION */
/********************************/

.main-nav-list {
  list-style: none;
  /* elements should be side by side  */
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* for padding  */
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* Will only work if both the classes are present on the element */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 1.6rem;
  border-radius: 10px;
  color: #fff;
  background-color: #e67e22;
  transition: background-color 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/********************************/
/* HERO SECTION */
/********************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* center using margin */
  margin: 0 auto;
  gap: 9.6rem;
  align-items: center;
  padding-left: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delievered-meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}

.delievered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delievered-imgs img:last-child {
  margin: 0;
}

.delievered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delievered-text span {
  color: #cf711f;
  font-weight: 700;
}

/********************************/
/* AS FEATURED IN SECTION */
/********************************/

.section-featured {
  padding: 2.4rem 0 3.2rem 0;
  /* background-color: #f8f9fa; */
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logo-img {
  height: 3.2rem;
  /* using filter to remove the color of the images */
  filter: brightness(0);
  opacity: 50%;
}
.heading-featured-in {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* Centering the text */
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}

/********************************/
/* HOW IT WORKS SECTION */
/********************************/
.section-how {
  padding: 9.6rem 0;
}

/* Center the contents of the page */
.container {
  max-width: 120rem;
  /* centering the page */
  margin: 0 auto;
  padding: 0 3.2rem;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  position: absolute;
  content: "";
  display: block;

  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  /* 60 percent of parents width */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 38%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #666;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/********************************/
/* MEALS SECTION */
/********************************/

.section-meals {
  padding: 9.6rem 0;
}

.section-meals span,
.section-meals h2 {
  text-align: center;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  /* necessary for hovering card effect */
  transition: all 0.4s;
  /* for increase in shadows height */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

/* Hovering effect on the cards */
.meal:hover {
  /* - for going up */
  transform: translateY(-1.2rem);
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}

.svg {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #cf711f;
}

.meal-tags {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 10rem;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  height: 3rem;
  width: 3rem;
}

.list-item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.8rem;
}

/* for personal taste */
.diets h3 {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

.all-recipies {
  text-align: center;
  font-size: 1.8rem;
}

/********************************/
/* TESTIMONIALS SECTION */
/********************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  height: 6.4rem;
  border-radius: 10rem;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  /* to enlarge the image inside the container */
  overflow: hidden;
}

.gallery-item img {
  /* to remove the annoying white line seperating the images */
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
